{% extends 'base.html' %}
{% load static %}
{% block content %}





<div class="content container-fluid">
	<div class="page-header">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12 col-12">
				<h5 class="text-uppercase mb-0 mt-0 page-title">About Student</h5>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12 col-12">
				<ul class="breadcrumb float-right p-0 mb-0">
					<li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i> Home</a>
					</li>
					<li class="breadcrumb-item"><a href="all-students.html">Student</a></li>
					<li class="breadcrumb-item"><span> About Student</span></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="content-page">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="aboutprofile-sidebar">
					<div class="row">

						<div class="col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="profile-content">
								<div class="row">
									<div class="col-lg-12">
										<div class="card">

											<div class="card-header">
												<h4 class="page-title">
													About Me
												</h4>
											</div>

											<div class="card-body">
												<div id="biography" class="biography">
													<div class="row">
														<div class="col-md-3 col-6"> <strong>Full
																Name</strong>
															<p class="text-muted">Parker</p>
														</div>
														<div class="col-md-3 col-6"> <strong>Mobile</strong>
															<p class="text-muted">973-584-5870</p>
														</div>
														<div class="col-md-3 col-6"> <strong>Email</strong>
															<p class="text-muted"><a href="/cdn-cgi/l/email-protection"
																	class="__cf_email__"
																	data-cfemail="104071627b7562507568717d607c753e737f7d">[email&#160;protected]</a>
															</p>
														</div>
														<div class="col-md-3 col-6">
															<strong>Location</strong>
															<p class="text-muted">USA</p>
														</div>
													</div>
													<hr>
													<p>Magtymguly adyndaky Türkmen döwlet uniwersiteti 1931-nji ýylda
														Aşgabat mugallymçylyk instituty hökmünde esaslandyryldy.
														1950-nji ýylda ýokary okuw mekdebi Türkmen döwlet uniwersitetine
														öwrüldi. Bu ýokary okuw mekdebi häzir Gündogaryň beýik akyldary
														we nusgawy şahyry Magtymguly Pyragynyň adyny göterýär.</p>
														<p>Uniwersitet döwrebap maddy-enjamlaýyn binýada eýedir. Ýokary
															okuw mekdebi häzirki zaman okuw, kompýuter, internet otaglary,
															dürli tejribehanalary we kitaphanalary bolan okuw binalarynyň
															altysyndan, talyplaryň umumy ýaşaýyş jaýlarynyň hem-de sport
															desgalarynyň tutuş toplumyndan, naharhanalardan ybaratdyr.</p> 
														<p>Türkmen döwlet uniwersiteti daşary ýurtlaryň ýokary okuw
																mekdepleri bilen ylym, bilim we medeni ugurlar boýunça
																hyzmatdaşlyk alyp barýar.</p>
														<p>
															Uniwersitetde 12 fakultet (matematika, maglumat tehnologiýalary,
															fizika, himiýa, biologiýa, geografiýa, türkmen dili we
															edebiýaty, iňlis dili we edebiýaty, roman-german we gündogar
															dilleri, taryh, hukuk, hünär derejesini ýokarlandyryş
															fakultetleri), 37 kafedra hereket edýär. Olarda hünär
															ugurlarynyň 14-si, hünärleriň hem-de taýýarlyk ugurlarynyň 33-si
															boýunça hünärmenler, bakalawrlar we magistrler taýýarlanylýar.</p>
														<p>Matematika we mehanika ugry (hünärler: matematika; amaly
															matematika we informatika).</p>
														<p>Fizika we astronomiýa ugry (hünärler: fizika; astronomiýa;
															radiofizika we elektronika).</p>
													<p>	Informatika we hasaplaýyş tehnikasy ugry (hünär: maglumat
														ulgamlary we tehnologiýalary).</p>
														<p>Biologiýa ylymlary ugry (hünär: biologiýa).</p>
														<p>Himiýa ugry (hünär: himiýa).</p>
														<p>Ýeri öwreniş ylymlary ugry (hünärler: geografiýa; kartografiýa;
															meteorologiýa; ekologiýa).</p>
														<p>Psihologiýa ylymlary ugry (hünär: psihologiýa).</p>
														<p>Dil bilimi we edebiýaty öwrenmek ugry (hünärler: türkmen dili we
															edebiýaty; iňlis dili we edebiýaty; nemes dili we edebiýaty;
															fransuz dili we edebiýaty; italýan dili we edebiýaty; arap dili
															we edebiýaty; türk dili we edebiýaty; pars dili we edebiýaty;
															hytaý dili we edebiýaty, rus dili we edebiýaty).</p>
														<p>Köpçülikleýin habar beriş serişdeleri we maglumat-kitaphana işi
															ugry (hünär: žurnalistika).</p>
														<p>Taryh we arheologiýa ugry (hünärler: taryh; arheologiýa).</p>
														<p>Filosofiýa we etika ugry (hünär: filosofiýa).</p>
														<p>Ylahyýet ugry (hünär: ylahyýet).</p>
													<p>	Syýasat ylymlary we sebit öwreniş ugry (hünärler: syýasaty
														öwreniş; gündogary öwreniş).</p>
														<p>Hukuk işi ugry (hünär: hukuk öwreniş).</p>

														<p>Uniwersitetde şu ugurlar boýunça bakalawrlar taýýarlanylýar:</p>
														<p>Matematika we mehanika (ugry: amaly matematika we informatika).</p>
														<p>Informatika we hasaplaýyş tehnikasy (ugry: maglumat ulgamlary we
															tehnologiýalary).</p>
													<p>	Magtymguly adyndaky Türkmen döwlet uniwersitetinde “Bilimi
														dolandyrmak” ugry boýunça magistrler hem taýýarlanylýar.</p>



												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}