{% extends 'base.html' %}
{% load static %}
{% block content %}





<div class="content container-fluid">
	<div class="page-header">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12 col-12">
				<h5 class="text-uppercase mb-0 mt-0 page-title">About</h5>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12 col-12">
				<ul class="breadcrumb float-right p-0 mb-0">
					<li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="fas fa-home"></i> Home</a>
					</li>
					 
					<li class="breadcrumb-item"><span> About uniwersiteti</span></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="content-page">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="aboutprofile-sidebar">
					<div class="row">

						<div class="col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="profile-content">
								<div class="row">
									<div class="col-lg-12">
										<div class="card">

											<div class="card-header">
												<h4 class="page-title">
													About uniwersiteti
												</h4>
											</div>

											<div class="card-body">
												<div id="biography" class="biography">
													<div class="row">
														<div class="col-md-3 col-6"> <strong>
																Name</strong>
															<p class="text-muted">Halkara ynsanperwer ylymlary we ösüş
																uniwersiteti</p>
														</div>
														<div class="col-md-3 col-6"> <strong>Phone</strong>
															<p class="text-muted"> +99312 39-85-00</p>
														</div>
														<div class="col-md-3 col-6"> <strong>Email</strong>
															<p class="text-muted"> contact@iuhd.edu.tm</a>
															</p>
														</div>
														<div class="col-md-3 col-6">
															<strong>Location</strong>
															<p class="text-muted">Aşgabat ş., 1958-nji (Andalyp) köçe,
																169</p>
														</div>
													</div>
													 
													<p> HALKARA YNSANPERWER YLYMLARY WE ÖSÜŞ UNIWERSITETI </p>
													<p>1. Hukuk işi (taýýarlygyň ugurlary: halkara jemagat hukugy; halkara hususy hukugy).</p>
													<p>2. Syýasy ylymlar we sebiti öwreniş (taýýarlygyň ugry: halkara gatnaşyklary we dünýä syýasaty).</p>
													<p>3. Sosiologiýa we durmuş işi (taýýarlygyň ugry: sosiologiýa).</p>
													<p>4. Filosofiýa, etika we dini öwreniş (taýýarlygyň ugry: filosofiýa).</p>
													<p>5. Köpçülikleýin habar beriş serişdeleri we maglumat-kitaphana işi (taýýarlygyň ugry: žurnalistika).</p>
													<p>6. Ykdysadyýet we dolandyryş (taýýarlygyň ugurlary: halkara ykdysadyýet; halkara menejment; halkara maliýe; ätiýaçlandyryş işi; halkara täjirçilik).</p>
													<p>7. Informatika we hasaplaýyş tehnikasy (taýýarlygyň ugurlary: kompýuter tehnologiýasy; kompýuter ulgamynyň programma üpjünçiligi; maglumat we kommunikasiýa tehnologiýalary).</p>
													<p>Uniwersitetde okuwlar iňlis dilinde geçirilýär.</p>
													<p>Uniwersitetde okuwlar tölegli esasda alnyp barylýar.</p>
													<p>  Uniwersitete Türkmenistanyň umumy orta bilimden pes bolmadyk binýatda bilimi bolan, ýaşy 35-den geçmedik raýatlary giriş synaglarynyň netijeleri boýunça bäsleşik esasynda kabul edilýär.  </p>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}