{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Library </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

	<link href="../../../../css?family=Roboto:300,400,500,700,900" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/fullcalendar.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/plugins/morris/morris.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'assets/plugins/simpleline/simple-line-icons.css' %}">
	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

	<div class="main-wrapper">
		{% include 'footer.html' %}
		{% include 'navbar.html' %}
	</div>


	<div class="page-wrapper">
		{% block content %}
		{% endblock %}
	</div>

	</div>


	<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
	<script src="{% static 'assets/js/select2.min.js' %}"></script>
	<script src="{% static 'assets/js/moment.min.js' %}"></script>
	<script src="{% static 'assets/js/fullcalendar.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.fullcalendar.js' %}"></script>
	<script src="{% static 'assets/plugins/morris/morris.min.js' %}"></script>
	<script src="{% static 'assets/plugins/raphael/raphael-min.js' %}"></script>
	<script src="{% static 'assets/js/apexcharts.js' %}"></script>
	<script src="{% static 'assets/js/chart-data.js' %}"></script>
	<script src="{% static 'assets/js/app.js' %}"></script>
</body>

</html>