{% load static %}





<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <div class="header-left">
        <a href="{% url 'index' %}" class="logo">
          <img src="{% static 'assets/img/logo1.png' %}" width="40" height="40" alt="">
          <span class="text-uppercase">Library</span>
        </a>
      </div>
      <ul class="sidebar-ul">
        <li class="menu-title">Menu</li>

        <li class="{% if '' == request.path %} active {% endif %}">
          <a href="{% url 'index' %}"><img src="{% static 'assets/img/sidebar/icon-1.png' %}"
              alt="icon"><span>Home</span></a>
        </li>
        <li class="{% if categor in request.path %} active {% endif %}">
          <a href="{% url 'categors' %}"><img src="{% static 'assets/img/sidebar/icon-12.png' %}" alt="icon">
            <span>Categors</span></a>
        </li>
        <li>
          <a href="{% url 'users' %}"><img src="{% static 'assets/img/sidebar/icon-2.png' %}" alt="icon">
            <span>Users</span></a>
        </li>
        <li>
          <a href="{% url 'news' %}"><img src="{% static 'assets/img/sidebar/icon-7.png' %}" alt="icon">
            <span>News</span></a>
        </li>
        <!-- <li>
          <a href="{% url 'settings' %}"><img src="{% static 'assets/img/sidebar/icon-14.png' %}" alt="icon">
            <span>Settings</span></a>
        </li> -->
        <li>
          <a href="{% url 'about' %}"><img src="{% static 'assets/img/sidebar/icon-19.png' %}" alt="icon">
            <span>About</span></a>
        </li>
      </ul>
    </div>
  </div> 