{% extends 'base.html' %}
{% load static %}
{% block content %}




<div class="content container-fluid">
	<div class="page-header">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12 col-12">
				<h5 class="text-uppercase mb-0 mt-0 page-title">About user</h5>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12 col-12">
				<ul class="breadcrumb float-right p-0 mb-0">
					<li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="fas fa-home"></i> Home</a>
					</li>
					<li class="breadcrumb-item"><a href="{% url 'users' %}">User list</a></li>
					<li class="breadcrumb-item"><span> About user</span></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="content-page">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="aboutprofile-sidebar">
					<div class="row">
	
						<div class="col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="profile-content">
								<div class="row">
									<div class="col-lg-12">
										<div class="card">
	
											<div class="card-header">
												<h4 class="page-title">
													About user
												</h4>
											</div>
	
											<div class="card-body">
												<div id="biography" class="biography">
													<div class="row">
														<div class="col-md-3 col-6"> <strong>
																Name</strong>
															<p class="text-muted">{{user.first_name}}</p>
														</div>
														<div class="col-md-3 col-6"> <strong>
																Last name</strong>
															<p class="text-muted">{{user.last_name}}</p>
														</div>
														 
														<div class="col-md-3 col-6"> <strong>Email</strong>
															<p class="text-muted"> {{user.email}}
															</p>
														</div>
														 
													</div>
													<hr>
													 
	
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

<div class="content-page">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="aboutprofile-sidebar">
				<div class="row">

					<div class="col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="profile-content">
							<div class="row">
								<div class="col-lg-12">
									<div class="card">

										<div class="card-header">
											<h4 class="page-title">
												About Me
											</h4>
										</div>

										<div class="card-body">
											<div id="biography" class="biography">
												<div class="row">
													<div class="col-md-3 col-6"> <strong>Full
															Name</strong>
														<p class="text-muted">Parker</p>
													</div>
													<div class="col-md-3 col-6"> <strong>Mobile</strong>
														<p class="text-muted">973-584-5870</p>
													</div>
													<div class="col-md-3 col-6"> <strong>Email</strong>
														<p class="text-muted"><a href="/cdn-cgi/l/email-protection"
																class="__cf_email__"
																data-cfemail="104071627b7562507568717d607c753e737f7d">[email&#160;protected]</a>
														</p>
													</div>
													<div class="col-md-3 col-6">
														<strong>Location</strong>
														<p class="text-muted">USA</p>
													</div>
												</div>
												<hr>
												<p>Magtymguly adyndaky Türkmen döwlet uniwersiteti 1931-nji ýylda
													Aşgabat mugallymçylyk instituty hökmünde esaslandyryldy.
													1950-nji ýylda ýokary okuw mekdebi Türkmen döwlet uniwersitetine
													öwrüldi. Bu ýokary okuw mekdebi häzir Gündogaryň beýik akyldary
												 </p>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>